@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&family=Montaga&display=swap');
 * {
     font-family: "Inter", sans-serif;
     font-style: normal;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
 *, *::before, *::after {
     box-sizing: border-box;
}
 * {
     margin: 0;
     padding: 0;
     border: 0 solid transparent;
}
 html {
     -webkit-text-size-adjust: 100%;
}
 body {
     min-height: 100vh;
     line-height: 1;
     text-rendering: optimizeSpeed;
}
 img, svg, video, canvas, audio, iframe, embed, object {
     display: block;
     max-width: 100%;
}
 input, button, textarea, select {
     font: inherit;
     line-height: inherit;
     color: inherit;
}
 table {
     border-collapse: collapse;
     border-spacing: 0;
}
 button, [role="button"] {
     cursor: pointer;
     background-color: transparent;
     -webkit-tap-highlight-color: transparent;
}
 a {
     cursor: pointer;
     color: inherit;
     text-decoration: inherit;
     -webkit-tap-highlight-color: transparent;
}
 h1, h2, h3, h4, h5, h6 {
}
 ol, ul {
     list-style: none;
}
 [type=date], [type=datetime], [type=datetime-local], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], textarea, select {
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     width: 100%;
}
 ::-moz-placeholder {
     opacity: 1;
}
 textarea {
     vertical-align: top;
     overflow: auto;
}
 [type='checkbox'], [type='radio'] {
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
}
 @media (prefers-reduced-motion: reduce) {
     html:focus-within {
         scroll-behavior: auto;
    }
     *, *::before, *::after {
         animation-duration: 0.01ms !important;
         animation-iteration-count: 1 !important;
         transition-duration: 0.01ms !important;
         scroll-behavior: auto !important;
    }
}
 header {
     z-index: 10000;
     background-color: #fff;
     position: fixed;
     height: 60px;
     width: 100%;
     padding: 15px 25px;
}
 header .header-container {
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-wrap: nowrap;
}
 header a {
     width: auto;
     height: 100%;
}
 header a .logo {
     width: auto;
     height: 80%;
}
 header a .logo img {
     width: auto;
     height: 100%;
}
 header .header-container nav {
     width: auto;
     display: flex;
}
 header .header-container nav a:hover{
     color: #FF531D;
}
 header .header-container nav a {
     padding: 9px 15px;
     color: #000000;
     text-decoration: none;
     margin-left: 10px;
     font-size: 15px;
     font-family: "Inter", sans-serif;
}
 header .header-container nav a.login, header .header-container nav a.singin {
     border-radius: 15px;
     background-color: #FF531D;
     color: #ffffff;
     transition: 1s ease-in-out;
}
 header .header-container nav a.login:hover, header .header-container nav a.singin:hover {
     background-color: #c64018;
     transition: 1s ease-in-out;
     color: #ffffff;
}
 main {
     flex: 1 0 auto;
     padding-top: 100px;
     width: 100%;
     height: auto;
}
 main .big-title {
     width: 100%;
     display: flex;
     height: auto;
     font-family: "Inter", sans-serif;
     font-weight: 700 !important;
     font-style: normal;
     font-size: 30px;
     align-items: center;
     flex-direction: column;
     margin-bottom: 60px;
}
 main .small-title {
     color: #5A5A5A;
     width: 100%;
     display: flex;
     height: auto;
     font-family: "Inter", sans-serif;
     font-weight: 400 !important;
     font-style: normal;
     font-size: 16px;
     align-items: center;
     flex-direction: column;
     margin-bottom: 60px;
}
 main .delivery {
     display: flex;
     width: 100%;
     justify-content: space-around;
     margin-bottom: 60px;
}
 main .delivery div {
     height: 160px;
     width: 200px;
     border-radius: 12px;
     background-color: #DDDDDD;
     padding: 10px 20px;
}
 .steps {
     width: 100%;
     padding: 0px 40px;
     margin-bottom: 100px;
}
 .steps div .title {
     font-size: 20px;
     font-weight: 600;
     margin-bottom: 15px;
}
 .steps div .description {
     color: #6F7680;
     font-size: 14px;
}
 .steps div .description .help {
     margin-top: 8px;
}
 .steps div .description .help a {
     color: #0f28b7;
     text-decoration: underline;
     margin-left: 3px;
}
 .steps .first-line {
     display: flex;
     justify-content: space-between;
}
 .steps .second-line {
     margin-top: 40px;
     margin-bottom: 50px;
     display: flex;
     justify-content: space-between;
     align-items: center;
}
 .second-line span {
     color: #fff;
     font-size: 16px;
     border-radius: 50%;
     background-color: #858585;
     width: 40px;
     height: 40px;
     display: flex;
     align-items: center;
     justify-content: center;
}
 .line {
     width: calc(100% / 2 - 80px);
     height: 3px;
     background-color: #000000;
}
 .second-line span:first-child, .second-line .line.first {
     background-color: #FF5C00;
}
 .steps .third-line {
     display: flex;
     justify-content: center;
}
 .quotes {
     padding: 20px 0 40px 0;
     background-color: #F8F9FA;
     margin-bottom: 100px;
     width: 100%;
     height: auto;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}
 .quotes img {
     width: 50%;
     height: auto;
}
 .quote {
     display: none;
     flex-direction: column;
     align-items: center;
     margin-bottom: -32%;
     position: relative;
}
 .points{
     margin-top: 30px;
     display: flex;
}
 .points span{
     display: flex;
     width: 10px;
     height: 10px;
     background-color:#D9D9D9 ;
     border-radius: 50%;
     margin-right: 10px;
}
 .points span.active{
     background-color:#FFAD94 ;
}
 .quotes .quote[id='1'] {
     display: flex;
}
 .quote .author {
     font-size: 16px;
     font-weight: 400;
     margin-bottom: 70px;
}
 .quote .text {
     font-size: 20px;
     font-weight: 600;
     display: flex;
     flex-direction: column;
     align-items: center;
}
 .questions {
     width: 100%;
     display: flex;
     flex-wrap: wrap;
     margin-bottom: 100px;
}
 .questions .title {
     width: 100%;
     display: flex;
     justify-content: center;
     font-size: 18px;
}
 .questions .buttons {
     margin-top: 30px;
     display: flex;
     width: 100%;
     margin-bottom: 40px;
     justify-content: space-evenly;
     padding: 0px 40px;
}
 .questions .buttons button.active {
     background-color: #FF7425;
     color: #ffffff;
}
 .questions .buttons button {
     color: #6F7680;
     padding: 5px;
     border-radius: 8px;
}
 .list{
     display: none;
}
 .questions .list.active{
     display: flex;
     width: 100%;
     flex-wrap: nowrap;
     flex-direction: column;
     align-items: center;
}
 .questions .list .el{
     border-bottom: 1px solid #D0D4DA;
     box-shadow: 0px 1px 2px 0px #0E182440;
     border-radius: 8px;
     margin-bottom: 12px;
     width: 90%;
     display: flex;
}
 .questions .list .el details{
     padding: 10px 15px;
     display: flex;
}
 details {
     width: 100%;
}
 details > summary {
     list-style-type: none;
}
 details > summary::-webkit-details-marker {
     display: none;
}
 details > summary{
     display: flex;
     width: 100%;
     justify-content: space-between;
}
/* details > summary::after {
     content: '&#8594;
    ';
}
 details[open] > summary::after {
     content: '🔽';
}
 */
 details[open] > summary {
     margin-bottom: 8px;
}
 details[open] > summary .icon{
     transform: rotate(90deg);
}
 footer {
     width: 100%;
     height: auto;
     flex: 0 0 auto;
     width: 100%;
     background-color: #4A4A59;
}
 footer .social-network {
     padding: 40px;
     width: 100%;
     font-size: 20px;
     color: #ffffff;
}
 .social {
     display: flex;
     margin-top: 20px;
}
 .icons {
     display: flex;
}
 .icons img{
     width: auto;
     height: 50px;
     margin-right: 20px;
}
 footer .social-network .title {
}
 footer .icon {
     width: 100%;
     height: auto;
}
 footer .icon img {
     width: 100%;
     height: auto;
}
